{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define": 0,
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": ['.js', '.android.js', '.ios.js']
      }
    }
  }
}
